// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
		list-style: none;
}

html {
		width: 100%;
}

body {
		min-height: 100vh;
		width: 100%;
}

header {
		min-height: 10vh;
}

.logo__container {
		max-width: 150px;
		max-height: 150px;
		min-width: 50px;
		min-height: 50px;
}

.landing-logo__container {
		max-width: 350px;
		max-height: 350px;
		min-width: 200px;
		min-height: 200px;
}

.icons__container {
		max-height: 210px;
}

.landing-icon {
		max-width: 30px;
		max-height: 30px;
}

.cart-icon__default {
		max-width: 40px;
		max-height: 40px;
}


.latest-albums__iframe {
		width: 350px;
		height: 350px;
}

.artist-thumbnail {
		width: 600px;
		height: 340px;
}

@media (max-width: 640px) {
		.artist-thumbnail {
				width: 640px;
				height: auto;
		}
}

.burger_hamburger__21cuQ {
		outline: none !important;
		position: relative;
		padding-right: 0.8rem;
		z-index: 20;
		padding-top: 4px !important;
		margin: 0 !important;
		position: absolute !important;
		top: 8px !important;
		left: 8px !important;
}

.header-landing {
		max-height: 420px;
		background: linear-gradient(to bottom, black 0%, black 50%, #000000 50%, white 50%, white 100%);
}

.header-primary {
		max-height: 140px;
}

.carousel__container {
		max-width: 1000px;
}

.dot {
		outline: none !important;
}

.logo-banner__container {
		top: 62px;
		left: 0;
}