// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
		list-style: none;
}

html {
		width: 100%;
}

body {
		min-height: 100vh;
		width: 100%;
}

header {
		min-height: 10vh;
}

.logo__container {
		max-width: 150px;
		max-height: 150px;
		min-width: 75px;
		min-height: 75px;
}

.landing-logo__container {
		max-width: 300px;
		max-height: 300px;
		min-width: 150px;
		min-height: 150px;
}

.latest-albums__iframe {
		width: 350px;
		height: 350px;
}

.artist-thumbnail__container {
		min-width: 275px;
		min-height: 275px;
		max-width: 550px;
		max-height: 550px;

}